<hr>
<ngb-pagination class="d-flex justify-content-start" [collectionSize]="automoviles.length" [(page)]="page" [pageSize]="pageSize"></ngb-pagination>
<hr>

<nav class="container btnGroup" class="fadeAnm">
    <button (click)="openModalNewAuto()" class="btn-material">Nuevo</button>
</nav>
<hr>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Marca</th>
            <th scope="col">Modelos</th>
            <th scope="col">Descripcion corta</th>
            <th scope="col">Cveveh</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let auto of automoviles | slice: (page-1) * pageSize : page * pageSize">
            <th scope="row">{{ auto.marca }}</th>
            <td>Modelos disponibles: {{ auto.modelos }}</td>
            <td>Descripcion: {{ auto.descripcioncorta}}</td>
            <td>CVEVEH: {{ auto.Cveveh }}</td>
            <td><i (click)="openModalDelete(auto)" class="fas fa-trash-alt"></i></td>
            <td (click)="openModalEdit(auto)"><i class="far fa-edit"></i></td>
        </tr>
    </tbody>
</table>