<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Model</th>
            <th scope="col">datos</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let auto of automoviles">
            <th scope="row">{{ auto.marca }}</th>
            <td>
                Modelos disponibles: {{ auto.modelos }} Descripcion: {{ auto.descripcioncorta}} Cveveh: {{ auto.Cveveh }}</td>
        </tr>
    </tbody>
</table>

<div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshAutos()">
    </ngb-pagination>

    <!--select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshAutos()">
    <option [ngValue]="2">2 items per page</option>
    <option [ngValue]="4">4 items per page</option>
    <option [ngValue]="6">6 items per page</option>
  </select-->
</div>